body {
    font-family: "Gamaliel";
    background-color: #1e293b;
    width: 100%;
    height: 100dvh;
    overflow: auto;
}
@font-face {
    font-family: "Gamaliel";
    src: url(./assets/fonts/Gamaliel.otf) format("opentype");
}
