$breakpoints: (
    mobile-360: 360px,
    tablet-719: 719px,
    desktop-1080: 1080px,
);
@mixin rwd($name) {
    @media screen and (min-width: map-get($breakpoints, $name)) {
        @content;
    }
}
@mixin regularText($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

// 標題
@mixin regularText--Title-bold {
    @include rwd(mobile-360) {
        @include regularText(5rem, 700);
    }
    @include rwd(tablet-719) {
        @include regularText(6.4rem, 700);
    }
    @include rwd(desktop-1080) {
        @include regularText(5rem, 700);
    }
}

// 毛玻璃標題
@mixin regularText--cardTitle-regular {
    @include rwd(mobile-360) {
        @include regularText(1.3rem, 600);
    }
    @include rwd(tablet-719) {
        @include regularText(2rem, 600);
    }
    @include rwd(desktop-1080) {
        @include regularText(2rem, 700);
    }
}

// 毛玻璃內容 -- 資料
@mixin regularText--cardContent-regular {
    @include rwd(mobile-360) {
        @include regularText(2rem, 400);
    }
    @include rwd(tablet-719) {
        @include regularText(4rem, 400);
    }
    @include rwd(desktop-1080) {
        @include regularText(4rem, 500);
    }
}

// 毛玻璃內容 -- 單位
@mixin regularText--cardUnit-regular {
    @include rwd(mobile-360) {
        @include regularText(1.3rem, 400);
    }
    @include rwd(tablet-719) {
        @include regularText(2rem, 400);
    }
    @include rwd(desktop-1080) {
        @include regularText(3rem, 500);
    }
}

%radioRwd {
    @apply radio-primary radio;
    margin-right: 3rem;
    @include rwd(mobile-360) {
        width: 1.8rem;
        height: 1.8rem;
        border-width: 2px;
    }
    @include rwd(tablet-719) {
        width: 3rem;
        height: 3rem;
        border-width: 3px;
    }
    @include rwd(desktop-1080) {
        width: 5rem;
        height: 5rem;
        border-width: 4px;
    }
}

%btnPadding {
    @include rwd(mobile-360) {
        padding: 0.6rem 2.2rem;
    }
    @include rwd(tablet-719) {
        padding: 1rem 4rem;
    }
    @include rwd(desktop-1080) {
        padding: 1.8rem 6rem;
    }
}

@mixin rwd-rem($property, $mobile, $tablet, $desktop) {
    @include rwd(mobile-360) {
        #{$property}: $mobile;
    }
    @include rwd(tablet-719) {
        #{$property}: $tablet;
    }
    @include rwd(desktop-1080) {
        #{$property}: $desktop;
    }
}

@mixin rwd-remXY(
    $property,
    $mobileX,
    $mobileY,
    $tabletX,
    $tabletY,
    $desktopX,
    $desktopY
) {
    @include rwd(mobile-360) {
        #{$property}: $mobileX $mobileY;
    }
    @include rwd(tablet-719) {
        #{$property}: $tabletX $tabletY;
    }
    @include rwd(desktop-1080) {
        #{$property}: $desktopX $desktopY;
    }
}
